In [9]:
import pandas as pd
import glob
#pip install geopy
from geopy import distance

In [10]:
path = r'D:\Documents\James\USC Data Analytics Boot camp\USC Data Analytics\ClassRepo\unit_20_tableau\homework\Instructions'

In [11]:
all_files = glob.glob(path + "/*.csv")

In [12]:
# read in all csv files sequentially
li = []
for file_name in all_files:
    df = pd.read_csv(file_name, index_col=None, header=0)
    li.append(df)

In [13]:
# append them all to a single dataframe
frame = pd.concat(li,axis=0, ignore_index=True)

In [14]:
frame.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [15]:
frame.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,7.982590e+05,798259.000000,798259.000000,798259.000000,798259.000000,798259.000000,798259.000000,798259.000000,798259.000000,798259.000000
mean,1.127371e+03,3298.930094,40.722488,-74.046563,3297.359457,40.722066,-74.045903,34528.103061,1980.762423,1.074880
std,1.408491e+04,177.851001,0.007201,0.011394,185.458326,0.064849,0.117752,7608.450081,10.669153,0.609715
min,6.100000e+01,3183.000000,40.709651,-74.083639,82.000000,0.000000,-74.083639,14531.000000,1887.000000,0.000000
25%,2.620000e+02,3195.000000,40.717732,-74.050656,3193.000000,40.717732,-74.050444,29242.000000,1970.000000,1.000000
50%,4.350000e+02,3209.000000,40.721525,-74.043845,3209.000000,40.721124,-74.043117,29616.000000,1983.000000,1.000000
75%,8.800000e+02,3276.000000,40.727224,-74.038051,3276.000000,40.727224,-74.038051,42372.000000,1989.000000,1.000000
max,3.261756e+06,3792.000000,40.748716,-74.032108,4282.000000,40.848282,0.000000,55298.000000,2004.000000,2.000000

In [16]:
# compute age
frame['Age'] = 2021 - frame["birth year"].astype(int)

In [17]:
frame.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Age
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1,28
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2,49
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1,36
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0,52
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0,52

In [18]:
# compute the distance between starting and ending points
frame["start coord"] = list(zip(frame["start station latitude"], frame["start station longitude"]))
frame["end coord"] = list(zip(frame["end station latitude"], frame["end station longitude"]))

In [19]:
dist=[]
for i in range(len(frame)):
    dist.append(distance.distance(frame.iloc[i]["start coord"],frame.iloc[i]["end coord"]).miles)

In [20]:
frame['distance'] = dist

In [21]:
frame.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Age,start coord,end coord,distance
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1,28,"(40.7162469, -74.0334588)","(40.7127742, -74.0364857)",0.287536
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2,49,"(40.7162469, -74.0334588)","(40.7242941, -74.0354826)",0.565349
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1,36,"(40.7162469, -74.0334588)","(40.7112423, -74.0557013)",1.217823
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0,52,"(40.7162469, -74.0334588)","(40.7242941, -74.0354826)",0.565349
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0,52,"(40.7162469, -74.0334588)","(40.7242941, -74.0354826)",0.565349

In [22]:
# remove rows where distance is 0 (i.e. rider took the bike back to the starting station because it was faulty)
# frame = frame.drop(frame.index[frame["distance"]==0])

In [23]:
# remove rows where user did not submit their gender
# frame = frame.drop(frame.index[frame["gender"]==0])

In [24]:
# remove rows where user age is unlikely (>90)
# frame = frame.drop(frame.index[frame["Age"]>90])

In [25]:
frame.sort_values(by=["tripduration"],ascending=False)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Age,start coord,end coord,distance
631464,3261756,2020-09-05 20:18:28.5380,2020-10-13 14:21:04.7550,3192,Liberty Light Rail,40.711242,-74.055701,3426,JCBS Depot,40.709651,-74.068601,45173,Customer,1969,0,52,"(40.7112423, -74.0557013)","(40.70965083364061, -74.06860113143921)",0.686180
634872,3076192,2020-09-08 00:03:14.8260,2020-10-13 14:33:07.5600,3211,Newark Ave,40.721525,-74.046305,3426,JCBS Depot,40.709651,-74.068601,45340,Customer,1969,0,52,"(40.72152515, -74.046304543)","(40.70965083364061, -74.06860113143921)",1.428898
356931,2566420,2019-11-03 02:10:08.6700,2019-12-02 19:03:49.5940,3681,Grand St,40.715178,-74.037683,3272,Jersey & 3rd,40.723332,-74.045953,29490,Subscriber,1990,1,31,"(40.71517767732029, -74.03768330812454)","(40.72333158646436, -74.04595255851744)",0.710661
544386,2423337,2020-07-02 13:48:38.0660,2020-07-30 14:57:35.8320,3185,City Hall,40.717732,-74.043845,3426,JCBS Depot,40.709651,-74.068601,44348,Customer,1969,0,52,"(40.7177325, -74.043845)","(40.70965083364061, -74.06860113143921)",1.414388
734368,2068550,2020-12-10 10:43:05.6190,2021-01-03 09:18:56.1980,3639,Harborside,40.719252,-74.034234,3638,Washington St,40.724294,-74.035483,47019,Customer,1969,0,52,"(40.7192517, -74.034234)","(40.7242941, -74.0354826)",0.354058
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751010,61,2021-01-23 16:09:18.5580,2021-01-23 16:10:19.9340,3185,City Hall,40.717732,-74.043845,3186,Grove St PATH,40.719586,-74.043117,42526,Subscriber,1967,1,54,"(40.7177325, -74.043845)","(40.71958611647166, -74.04311746358871)",0.133485
462693,61,2020-03-11 15:25:02.0690,2020-03-11 15:26:03.7690,3211,Newark Ave,40.721525,-74.046305,3272,Jersey & 3rd,40.723332,-74.045953,42204,Subscriber,1989,1,32,"(40.72152515, -74.046304543)","(40.72333158646436, -74.04595255851744)",0.126011
119289,61,2019-05-21 17:57:51.6120,2019-05-21 17:58:52.7520,3214,Essex Light Rail,40.712774,-74.036486,3267,Morris Canal,40.712419,-74.038526,26261,Subscriber,1970,1,51,"(40.7127742, -74.0364857)","(40.7124188237569, -74.03852552175522)",0.109873
132193,61,2019-06-01 19:54:23.9780,2019-06-01 19:55:25.1660,3272,Jersey & 3rd,40.723332,-74.045953,3270,Jersey & 6th St,40.725289,-74.045572,29644,Subscriber,1981,1,40,"(40.72333158646436, -74.04595255851744)","(40.72528910781132, -74.04557168483734)",0.136545
795220,61,2021-04-27 21:51:52.4040,2021-04-27 21:52:53.8740,3276,Marin Light Rail,40.714584,-74.042817,3276,Marin Light Rail,40.714584,-74.042817,54254,Customer,1970,0,51,"(40.71458403535893, -74.04281705617905)","(40.71458403535893, -74.04281705617905)",0.000000

In [26]:
# output to a csv file
frame.to_csv(r'D:\Documents\James\USC Data Analytics Boot camp\USC Data Analytics\ClassRepo\unit_20_tableau\homework\Instructions\Resources\Output.csv',index=False,header=True)