In [1]:
import pandas as pd

In [2]:
# Read in output file
df = pd.read_csv("Resources/output.csv")
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Age,start coord,end coord,distance
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1,28,"(40.7162469, -74.0334588)","(40.7127742, -74.0364857)",0.287536
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2,49,"(40.7162469, -74.0334588)","(40.7242941, -74.0354826)",0.565349
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1,36,"(40.7162469, -74.0334588)","(40.7112423, -74.0557013)",1.217823
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0,52,"(40.7162469, -74.0334588)","(40.7242941, -74.0354826)",0.565349
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0,52,"(40.7162469, -74.0334588)","(40.7242941, -74.0354826)",0.565349

In [3]:
# select the columns of start stations
df2 = df.iloc[:,3:7]
df2.head()

,start station id,start station name,start station latitude,start station longitude
0,3183,Exchange Place,40.716247,-74.033459
1,3183,Exchange Place,40.716247,-74.033459
2,3183,Exchange Place,40.716247,-74.033459
3,3183,Exchange Place,40.716247,-74.033459
4,3183,Exchange Place,40.716247,-74.033459

In [4]:
df3 = df2.groupby(['start station id', 'start station name', 'start station latitude', 'start station longitude'])["start station id"].count().reset_index(name='count').sort_values(['count'], ascending=False)

In [5]:
# build start station table. Count only the top 10 most popular "start" stations
df_top_start = df3.head(10)
df_top_start_copy = df_top_start.copy()
df_top_start_copy["start_end"] = "top_start"

In [6]:
df_bottom_start = df3.tail(10)
df_bottom_start_copy = df_bottom_start.copy()
df_bottom_start_copy['start_end'] = 'Bottom_start'

In [7]:
df_top_start_copy.columns = ["station id", "station name", "latitude", "longitude","start_end","count"]
df_bottom_start_copy.columns = ["station id", "station name", "latitude", "longitude","start_end","count"]
df_top_start_copy

,station id,station name,latitude,longitude,start_end,count
3,3186,Grove St PATH,40.719586,-74.043117,73217,top_start
16,3203,Hamilton Park,40.727596,-74.044247,41394,top_start
13,3199,Newport Pkwy,40.728745,-74.032108,34195,top_start
10,3195,Sip Ave,40.730897,-74.063913,33120,top_start
45,3639,Harborside,40.719252,-74.034234,32610,top_start
15,3202,Newport PATH,40.727224,-74.033759,32576,top_start
35,3276,Marin Light Rail,40.714584,-74.042817,30253,top_start
6,3192,Liberty Light Rail,40.711242,-74.055701,28088,top_start
53,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,23513,top_start
2,3185,City Hall,40.717732,-74.043845,21545,top_start

In [8]:
df_bottom_start_copy

,station id,station name,latitude,longitude,start_end,count
36,3277,Communipaw & Berry Lane,40.714358,-74.066611,4598,Bottom_start
26,3220,5 Corners Library,40.734961,-74.059503,4565,Bottom_start
23,3212,Christ Hospital,40.734786,-74.050444,4436,Bottom_start
11,3196,Riverview Park,40.744319,-74.043991,4421,Bottom_start
40,3281,Leonard Gordon Park,40.745910,-74.057271,3586,Bottom_start
14,3201,Dey St,40.737711,-74.066921,3081,Bottom_start
5,3191,Union St,40.718211,-74.083639,2777,Bottom_start
51,3694,Jackson Square,40.711130,-74.078900,2729,Bottom_start
9,3195,Sip Ave,40.730743,-74.063784,2193,Bottom_start
41,3426,JCBS Depot,40.709651,-74.068601,44,Bottom_start

In [9]:
# do the same for the "end" stations
df4 = df.iloc[:,7:11]

In [11]:
df5 = df4.groupby(['end station id', 'end station name', 'end station latitude', 'end station longitude'])["end station id"].count().reset_index(name='count').sort_values(['count'], ascending=False)

In [13]:
df_top_end = df5.head(10)
df_top_end_copy = df_top_end.copy()
df_top_end_copy['start_end'] = 'Top_end'
df_bottom_end = df5.tail(10)
df_bottom_end_copy = df_bottom_end.copy()
df_bottom_end_copy['start_end'] = 'Bottom_end'
df_top_end_copy

,end station id,end station name,end station latitude,end station longitude,count,start_end
86,3186,Grove St PATH,40.719586,-74.043117,88945,Top_end
99,3203,Hamilton Park,40.727596,-74.044247,39645,Top_end
96,3199,Newport Pkwy,40.728745,-74.032108,34548,Top_end
98,3202,Newport PATH,40.727224,-74.033759,33184,Top_end
151,3639,Harborside,40.719252,-74.034234,32621,Top_end
93,3195,Sip Ave,40.730897,-74.063913,30762,Top_end
121,3276,Marin Light Rail,40.714584,-74.042817,30121,Top_end
89,3192,Liberty Light Rail,40.711242,-74.055701,29031,Top_end
170,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,26448,Top_end
85,3185,City Hall,40.717732,-74.043845,22861,Top_end

In [14]:
df_top_end_copy.columns = ["station id", "station name", "latitude", "longitude","start_end","count"]
df_bottom_end_copy.columns = ["station id", "station name", "latitude", "longitude","start_end","count"]
df_top_end_copy

,station id,station name,latitude,longitude,start_end,count
86,3186,Grove St PATH,40.719586,-74.043117,88945,Top_end
99,3203,Hamilton Park,40.727596,-74.044247,39645,Top_end
96,3199,Newport Pkwy,40.728745,-74.032108,34548,Top_end
98,3202,Newport PATH,40.727224,-74.033759,33184,Top_end
151,3639,Harborside,40.719252,-74.034234,32621,Top_end
93,3195,Sip Ave,40.730897,-74.063913,30762,Top_end
121,3276,Marin Light Rail,40.714584,-74.042817,30121,Top_end
89,3192,Liberty Light Rail,40.711242,-74.055701,29031,Top_end
170,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,26448,Top_end
85,3185,City Hall,40.717732,-74.043845,22861,Top_end

In [15]:
df_joined = pd.concat([df_top_start_copy,df_top_end_copy,df_bottom_start_copy,df_bottom_end_copy])
df_joined

,station id,station name,latitude,longitude,start_end,count
3,3186,Grove St PATH,40.719586,-74.043117,73217,top_start
16,3203,Hamilton Park,40.727596,-74.044247,41394,top_start
13,3199,Newport Pkwy,40.728745,-74.032108,34195,top_start
10,3195,Sip Ave,40.730897,-74.063913,33120,top_start
45,3639,Harborside,40.719252,-74.034234,32610,top_start
15,3202,Newport PATH,40.727224,-74.033759,32576,top_start
35,3276,Marin Light Rail,40.714584,-74.042817,30253,top_start
6,3192,Liberty Light Rail,40.711242,-74.055701,28088,top_start
53,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,23513,top_start
2,3185,City Hall,40.717732,-74.043845,21545,top_start
86,3186,Grove St PATH,40.719586,-74.043117,88945,Top_end
99,3203,Hamilton Park,40.727596,-74.044247,39645,Top_end
96,3199,Newport Pkwy,40.728745,-74.032108,34548,Top_end
98,3202,Newport PATH,40.727224,-74.033759,33184,Top_end
151,3639,Harborside,40.719252,-74.034234,32621,Top_end
93,3195,Sip Ave,40.730897,-74.063913,30762,Top_end
121,3276,Marin Light Rail,40.714584,-74.042817,30121,Top_end
89,3192,Liberty Light Rail,40.711242,-74.055701,29031,Top_end
170,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,26448,Top_end
85,3185,City Hall,40.717732,-74.043845,22861,Top_end
36,3277,Communipaw & Berry Lane,40.714358,-74.066611,4598,Bottom_start
26,3220,5 Corners Library,40.734961,-74.059503,4565,Bottom_start
23,3212,Christ Hospital,40.734786,-74.050444,4436,Bottom_start
11,3196,Riverview Park,40.744319,-74.043991,4421,Bottom_start
40,3281,Leonard Gordon Park,40.745910,-74.057271,3586,Bottom_start
14,3201,Dey St,40.737711,-74.066921,3081,Bottom_start
5,3191,Union St,40.718211,-74.083639,2777,Bottom_start
51,3694,Jackson Square,40.711130,-74.078900,2729,Bottom_start
9,3195,Sip Ave,40.730743,-74.063784,2193,Bottom_start
41,3426,JCBS Depot,40.709651,-74.068601,44,Bottom_start
45,435,W 21 St & 6 Ave,40.741740,-73.994156,1,Bottom_end
137,3472,W 15 St & 10 Ave,40.742754,-74.007474,1,Bottom_end
136,3467,W Broadway & Spring Street,40.724947,-74.001659,1,Bottom_end
135,3467,W Broadway & Spring St,40.724947,-74.001659,1,Bottom_end
47,447,8 Ave & W 52 St,40.763707,-73.985162,1,Bottom_end
132,3435,Grand St & Elizabeth St,40.718822,-73.995960,1,Bottom_end
48,456,E 53 St & Madison Ave,40.759711,-73.974023,1,Bottom_end
129,3347,Van Brunt St & Wolcott St,40.677343,-74.012751,1,Bottom_end
128,3314,W 95 St & Broadway,40.793770,-73.971888,1,Bottom_end
185,4282,Washington St & Barrow St,40.731911,-74.008769,1,Bottom_end

In [17]:
df_joined.to_csv("Resources/start_end.csv",index=False)